@import "../../../scss/variables";

.package {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    white-space: pre-wrap;
    height: 500px;

    @media screen and (min-width: $tablet) {
        margin-top: 15px;
        height: unset;
    }

    @media screen and (min-width: $laptop) {
        justify-content: space-between;
    }
}
