@import '../../../scss/variables';

.vod__movie {
    width: 196px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    line-height: 1.9em;

    &__title {
        font-size: 25px;
        font-weight: 400;
        color: $color-font-main;
        cursor: pointer;
    }

    &__info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 900;
    }

    &__type {
        color: $color-font-accent-first;
        text-transform: uppercase;
    }

    &__price {
        color: $color-font-menu-price;
    }
}