@import '../../../scss/variables';

.net {
    background: url('../../../assets/zyskaj_więcej_bg.png') no-repeat center/cover;
    padding: 30px;
    height: 100%;
    width: 100%;
    position: relative;
}