@import "../../../scss/variables";

.net__second {
    background: url("../../../assets/more-2.png") no-repeat center/cover;
    padding: 30px;
    height: 100%;
    width: 100%;
    position: relative;
}
