@import "../../scss/variables";

.main {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(9, 1fr);

   @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(5, 1fr);
   }

   @media screen and (min-width: $laptop) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 492px 419px 340px;
   }
}
