@import "../../scss/variables";

.menu {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 2;
}
