@import "../../scss/variables";

.panel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    padding-right: 15px;

    @media screen and (min-width: $tablet) {
        gap: 50px;
        padding-top: 20px;
        padding-right: 30px;
        align-self: flex-start;
    }

    &__item {
        font-size: 14px;
        color: $color-font-second;
        text-transform: uppercase;
        position: relative;

        &:nth-of-type(2)::before,
        &:nth-of-type(2)::after {
            content: "";
            display: block;
            height: 14px;
            width: 1px;
            background: $color-font-second;
            position: absolute;
            top: 0;
        }

        &:nth-of-type(2)::before {
            left: -22px;

            @media screen and (min-width: $tablet) {
                left: -25px;
            }
        }

        &:nth-of-type(2)::after {
            right: -12px;

            @media screen and (mint-width: $tablet) {
                right: -25px;
            }
        }

        &__phone {
            font-weight: 900;
            color: $color-font-accent-first;
            margin-left: 15px;
        }

        &__icon {
            margin-right: 0;

            @media screen and (min-width: $tablet) {
                margin-right: 10px; 
            }

            &:last-of-type {
                margin-left: -10px;

                @media screen and (min-width: $tablet) {
                    margin-left: 0;
                }
            }
        }
    }
}
