@import "../../../scss/variables";

.program {
    background: url("../../../assets/now_bg.png") no-repeat center/cover;
    border-bottom: 4px solid $color-font-accent-first;
    width: 100%;
    height: calc(100% - 125px);
    position: relative;

    &__prev,
    &__play,
    &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 41px;
        cursor: pointer;
    }

    &__prev {
        left: 30px;
    }

    &__play {
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 23px;
        width: 14px;
        height: 22px;

        &::before {
            content: "";
            display: block;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid $color-font-main;
            background: #00000080;
            z-index: -1;
        }
    }

    &__next {
        right: 30px;
    }

    &__title,
    &__chanel {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__title {
        font-size: 25px;
        font-weight: 400;
        bottom: 50px;
    }

    &__chanel {
        font-size: 14px;
        font-weight: 900;
        color: $color-font-accent-first;
        text-transform: uppercase;
        bottom: 30px;
    }
}
