@import "../../scss/variables";

.footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    text-transform: uppercase;
    font-size: 14px;
    color: $color-font-second;
    border-top: 1px solid $color-font-second;
    width: 100%;
    position: absolute;
    bottom: -68px;
    left: 0;
    padding-top: 15px;

    @media sreen and (min-width: $tablet) {
        padding: 40px 30px 0 30px;
        top: -6px;
        bottom: 0;
        flex-direction: row;
        gap: unset;

    }

    @media screen and (min-width: $laptop) {
        bottom: -10px;
        left: 0;
        top: unset;
        width: 800px;
        padding: 10px 0 0 0;
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &__item {
            cursor: pointer;
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;

        &__item {
            width: 30px;
            height: 30px;
            cursor: pointer;

            &:first-of-type {
                background: url("../../assets/fb_icon.svg") no-repeat center/contain;
            }

            &:nth-of-type(2) {
                background: url("../../assets/tweet_icon.svg") no-repeat center/contain;
            }

            &:last-of-type {
                background: url("../../assets/yt_icon.svg") no-repeat center/contain;
            }
        }
    }
}
