$color-background-main :#1a1a1a;
$color-menu-burger: #ffffff;
$color-menu-background-burger: #ffffff26;
$color-menu-border: #ffffff26;
$color-menu-border-second: #1a1a1a;
$color-background-menu-second: #ffffff;

$color-font-second: #7a7a7a;
$color-font-menu: #bababa;
$color-font-menu-second-box: #5a5a5a;
$color-font-menu-second-box-type: #828282;
$color-font-menu-price: #2c8fbd;
$color-font-accent-first: #84b82a;
$color-font-accent-second: #675190;