@import '../../scss/variables';

.title {
    font-size: 32px;
    font-weight: 900;
    color: $color-font-main;
    text-transform: uppercase;
    white-space: pre-wrap;

    @media screen and (min-width: $tablet) {
        font-size: 40px;
    }
}
